* {
    box-sizing: border-box;
    /*overflow-x: hidden;*/
}

:root {
    --black: #080808;
    --white: #F5F5F5;
    --yellow: #ffd000;
}

body {
    background-color: var(--black);
    animation: fadein 2.5s ease-in-out;
    overflow-x: hidden;
}
@keyframes fadein {
    from{
        opacity: 0;

    }
    to {
        opacity: 1;
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* INTRO PAGE */
.logo {
    display: block;
    width: 70px;
    position: fixed;
    top: 10px;
}
.quote {
    width: 50vw;
    height: 400px;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.quote-text {
    color: var(--white);
    font-family: 'Open sans';
    font-size: 1.3em;
    text-align: center;
    font-weight: 100;
}
header {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-container {

}
.menu-list {
    list-style: none;
    padding-left: 0;
}
.menu-list a{
    text-decoration: none;
}
.menu-list-item {
    color: var(--white);
    font-family: 'Cormorant Garamond';
    padding: 10px 10px 20px 10px;
    font-size: 1.1em;
    font-weight: 100;
}
.title-one, .title-two {
    color: var(--white);
}
.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
}
.title-one {
    font-size: 5em;
    text-align: center;
    font-family: 'Cormorant Garamond';
    font-weight: 100;
    font-style: italic;
}
.contact-title {
    font-size: 6em;  
}
.title-two {
    font-family: 'Open Sans';
}

.intro-img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: block;
}

.intro-index-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

/* CONTACT PAGE */
.contact-container {
    width: 70%;
    height: auto;
    margin: auto;
    flex-direction: row!important;
    flex-wrap: wrap;
    margin-top: 0;
} 
.contact-box {
    width: auto;
    height: 150px;
    margin: 30px;
}

.contact-img {
    display: block;
    margin-bottom: 30px;
}
.contact-link {
    color: var(--white)!important;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 1.2em;
}

/* ABOUT */
.about-title {
    margin: 0!important;
    text-align: center;
    width: 100%;
} 

.about-section {
    height: auto;
    width: 50%;
    margin: auto;
}
.about-info {
    margin-top: 50px!important;
}
.about-info .project-number{
    font-size: 2.3em;
    height: 100px;
}
.about-list {
    color: var(--white);
    list-style: none;
    padding-left: 0;
    margin-bottom: 30px;

    width: 100%;
    height: 250px;
}
.about-list-item {
    font-family: 'Open Sans';
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.em;
    margin-bottom: 20px;
}
.title-three {
    color: var(--yellow);
    font-family: 'Cormorant Garamond';
    font-size: 3.5em;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 5pt;
}

.body-text {
    color: var(--white);
    font-size: 1.2em;
    font-family: 'Open Sans';
    font-weight: 100;
    line-height: 35px;
}

.symbol-img {
    display: block;
    margin-bottom: -100px;
}

/* PROJECT */
.project-container {
    width: 85%;
    margin: auto;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
. .project-title  {
    height: auto;
}
.project-container a {
    text-decoration: none;
}
.project-box {
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 270px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.project-number {
    margin-left: 35px;  
    margin-bottom: 170px;
}
.project-box .title-four{
    height: 100px;
}
.title-four {
    font-family: 'Cormorant Garamond';
    color: var(--white);
    margin-left: 35px;
    font-style: italic;
    font-size: 1.3em;
    font-weight: 100;
    width: 200px;
    height: auto;
}
.project-image {
    width: 200px;
    height: 200px;
    background-color: white;
    display: block;
    margin: auto;

    margin-top: 0;
    filter: grayscale(100%);
    background-size: cover;
    transition: .3s ease-in;
}
.web-design {
    background-image: url(assets/about/web-design-intro.jpg);
}
.app-design {
    background-image: url(assets/about/app-design-intro.jpg);
}
.logo-design {
    background-image: url(assets/about/logo-design-intro.jpg); 
}
.brand-design {
    background-image: url(assets/about/branding-intro.jpg); 
}
.project-image:hover {
    filter: none;
}

.main-btn {
    color: var(--black);
    background-color: var(--yellow);
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0 auto;
    font-family: 'Cormorant Garamond';
    font-size: 1.2em;
    transition: .3s ease-in;
    text-decoration: none;
}
.main-btn:hover {
    border-radius: 3px;
}
/* FOOTER */
footer {
    width: 100%;
    height: auto;
    /* background-image: url(assets/index/footer-background.png); */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

    border-top: 1px solid var(--white);
}
.footer-h1 {
    color: var(--yellow);
    font-size: 1.5em;
    font-family: 'Cormorant Garamond';
    margin-bottom: 50px;
}
.footer-logo {
    display: block;
    width: 100px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}
.copyrights {
    color: var(--white);
    font-family: 'Open sans';  
    font-weight: 100;  
    font-size: .9em;
    margin-top: 0;
    margin-bottom: 20px;
}
.footer-section-icons {
    width: 30%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.footer-link-img {
    display: block;
    margin: 0 20px 0 20px;
}
.footer-info-section-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center!important;
    width: 80vw;
    height: auto;
    margin: auto;
}
.flex-row {
    flex-direction: row!important;
    justify-content: space-between!important;
}
.footer-section-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: auto;
    margin-bottom: 50px;
}
.footer-section-info a {
    color: var(--white)!important;
    text-align: left;
}
.footer-img {
    display: block;
    width: 30px;
    height: 30px;
}
.footer-link-text {
    color: var(--white);
    text-decoration: none;
    font-family: 'Cormorant Garamond';  
    font-weight: 100;  
    font-size: 1.2em;
    margin-bottom: 30px;
    letter-spacing: 1pt;
    transition: 0.5s ease-in;
}
.footer-link-text:hover {
    color: var(--yellow)!important;
}
footer .title-two {
    font-size: 2em;
    text-align: center;
    font-family: 'Cormorant Garamond';
}
footer .body-text{
    text-align: center;
    margin-top: 0;
}


/* RESPONSIVE */
@media only screen and (max-width: 850px) {
    .project-presentation-img {
        height: auto;
    }
    .projecct-presentation-container:nth-child(odd) {
        flex-direction: column!important;
        height: 100%;
    }
    .projecct-presentation-container:nth-child(even) {
        flex-direction: column!important;
        height: 100%;
    }
    .project-presentation-section {
        width: 100vw!important;
        height: auto;
    }
    .project-title {
        width: 100vw;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .project-text{
        width: 90vw;
        margin: auto;
        margin-bottom: 20px;
    }
    .project-presentation-img {
        width: 100%;
        height: auto;
    }

}
@media only screen and (max-width: 600px) {
    .about-section {
        width: 90%;
        margin: auto;
    }

    .project-container {
        width: 100%;
        margin: auto;
    }
    .project-box {
        width: 100vw;
        height: auto;
        border: none;
        margin: auto;
    }
    .project-number,   .title-four{
        margin-left: 100px
    }

}

/* PROJECT PAGES */
.project-list {
    list-style: none;
    text-decoration: none;
    padding-left: 0;
    width: auto;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.project-list-item {
    color: var(--white);
    display: inline;
    text-align: center;
    margin: 0 20px 0 20px;
    font-family: 'Open Sans';
    font-size: 1em;
}
.project-intro-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
.project-scedis {
    background-image: url(assets/projects/scedis/scedis-intro.png);
}
.project-polinvest {
    background-image: url(assets/projects/polinvest/polinvest-intro.png);
}
.project-park2 {
    background-image: url(assets/projects/park2/park2-intro.png);
}
.project-illustration {
    background-image: url(assets/projects/illustrations/illistration-intro.png); 
}
.project-ATM {
    background-image: url(assets/projects/ATM-Milano/ATM-intro.png); 
}
.project-logos {
    background-image: url(assets/projects/logos/logo-intro.png); 
}
.project-trumpet{
    background-image: url(assets/projects/The-Trumpet/Trumpet-intro.png);     
}
.project-luceplan {
    background-image: url(assets/projects/luceplan/LucePlan-intro.png); 
}
.project-bio-metal {
    background-image: url(assets/projects/bio-metal/bio-metal-bg.png); 
}
.project-definition-container {
    margin: auto;
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.title-center {
    text-align: center;
}

.projecct-presentation-container {
    width: 100vw;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.project-presentation-section {
    width: 50vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project-title {
    width: 80%;
}
.project-text {
    width: 90%;
    margin-top: 5px;
}
.project-presentation-img {
    display: block;
    width: 100%;
    height: 500px;
}
.projecct-presentation-container:nth-child(odd) {
    flex-direction: row-reverse;
}

@media only screen and (max-width: 935px) { 
    body {
        overflow-x: hidden;
    }
    .footer-info-section-container {
        flex-direction: column!important;
        margin-top: 30px;
    }
    .footer-section-info {
        align-items: center!important;
        width: 100%;
        margin-bottom: 50px;
    }
    .intro-index-two {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 414px) { /*IPHONE 6plus*/
    .project-list {
        flex-direction: column;
    }
    .project-list-item {
        padding-bottom: 15px;
    }
    .project-number, .title-four{
        margin-left: 80px;
    }
    .services-title {
        margin-left: 0;
    }

    header {
        height: 70px;
        width: 100vw;
        z-index: 1;
        background-color: var(--white);
    }
    .logo {
        display: none;
    }
    .menu-list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .menu-list-item {
        padding: 5px 5px 5px 5px;
        color: var(--black);
    }
    .quote {
        width: 95vw;
    }
    .project-intro-section {
        background-attachment: none;
    }
.project-container {
    border: 2px solid;
    width: 100%;
    margin: auto;
    } 
    .about-section {
        width: 95vw;
        margin: auto;
        height: auto;

    }
    .about-title {
        margin-top: 50px!important;
        margin-bottom: 0;
    }

    .about-list {
        height: auto;
        margin-bottom: 50px;
    }
    .title-one {
        font-size: 3em;
        margin-top: 100px;
    }
    .symbol-img {
        margin-bottom: 0;
    }
    .contact-container {
        width: 95vw;
        margin-top: 50px;
    }
    .contact-box {
        width: 100%;
        margin: 10px;
        margin-left: 0;
    } 

    footer {
        width: 100vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-section {
        width: 100%;
        height: 100%;
        margin: auto;
        
    }
    .footer-section-icons {
        width: 100%;
    }
    .footer-link-text{
        padding: 10px;
        text-align: center;
    }

    .title-two {
        font-size: 1.3em;
    }
    .intro-container {
        width: 100%;
        margin: auto;
    }
    .intro-img {
        height: auto;
        width: 200px;
        margin: 30px 0 30px 0;
    }
    .intro-index-two {
        width: 100%;
        justify-content: center;
    }
    .projecct-presentation-container {
        flex-direction: column;
        height: auto;
    }
    .project-presentation-section {
        width: 100vw;
        height: auto;
    }
    .project-title {
        width: 100vw;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .project-text{
        width: 95%;
        margin: auto;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .project-presentation-img {
        width: 100vw;
        height: auto;

    }
}


/*NAVIGATION */
.header-logo {
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Lora';
    border-top: 1px solid var(--white);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.nav-links a {
    color: var(--white);
    text-decoration: none;
    transition: 0.5s ease;
}

.burger {
    display: none;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: var(--white);
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width:768px) {
    .contact-title {
        font-size: 4em;
    }
    .header-logo {
        width: 100px;
    }
  body {
      overflow-x: hidden!important; 
  }
  
  .nav-section {
      border-bottom: none!important;
  }
  nav {
      min-height: 0;
  }
  .nav-links {
      position: absolute;
      right: 0px;
      height: 100vh;     
      top: 0;   
      background-color: var(--black);
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .nav-links li {
      opacity: 1;
  }
  .burger {
      display: block;
      cursor: pointer;
      top: 20px;
      left: 20px;
      position: absolute;
  } 
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navlinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
} */


.nav-section {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid var(--white);
    overflow-y: hidden!important;
}
.lang-section {
    top: 20px;
    position: absolute;
    right: 20px;
}
.lang-btn {
    width: 10px;
    margin-left: 10px;

}
.collapsible {
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 12px;
    font-family: 'Lora';
  }
  .lang-list {
    padding: 0;
  }
  .lang-item {
      margin-bottom: 10px;
      font-size: 12pt!important;
      transition: 0.5s ease;
  }
  .lang-item:hover {
      color: var(--beige);
  }
  .lang-item a{
      color: var(--white);
      text-decoration: none;
      font-family: 'Lora';
      margin-bottom: 10px;
      text-align: left;
      font-size: 10pt!important;
      margin-left: 6px;
  }
  .content {
    display: none;
    overflow: hidden;
    color: var(--white);
  }

  .heading-decoration {
    display: block;
    margin-bottom: 50px;
    width: 100px;
  }

  
  /**/

  a,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
    text-decoration: none;
  }
  .outer-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .outer-menu .checkbox-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
  }
  .outer-menu .checkbox-toggle:checked + .hamburger > div {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .outer-menu .checkbox-toggle:checked + .hamburger > div:before,
  .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
    opacity: 0;
  }
  .outer-menu .checkbox-toggle:checked ~ .menu {
    pointer-events: auto;
    visibility: visible;
  }
  .outer-menu .checkbox-toggle:checked ~ .menu > div {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-duration: 0.75s;
            transition-duration: 0.75s;
  }
  .outer-menu .checkbox-toggle:checked ~ .menu > div > div {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease 0.4s;
    transition: opacity 0.4s ease 0.4s;
  }
  .outer-menu .checkbox-toggle:hover + .hamburger {
    box-shadow: inset 0 0 10px var(--yellow);
  }
  .outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  .outer-menu .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 0.5em 1em;
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    -webkit-transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .outer-menu .hamburger > div {
    position: relative;
    -webkit-box-flex: 0;
            flex: none;
    width: 100%;
    height: 2px;
    background: var(--yellow);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .outer-menu .hamburger > div:before,
  .outer-menu .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: inherit;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .outer-menu .hamburger > div:after {
    top: 10px;
  }
  .outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    outline: 1px solid transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .outer-menu .menu > div {
    width: 200vw;
    height: 200vw;
    color: var(--white);
    background: var(--black);
    border-radius: 50%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-flex: 0;
            flex: none;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .outer-menu .menu > div > div {
    font-family: 'Cormorant Garamond';
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    overflow-y: auto;
    -webkit-box-flex: 0;
            flex: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .outer-menu .menu > div > div > ul {
    list-style: none;
    padding: 0 1em;
    margin: 0;
    display: block;
    max-height: 100vh;
  }
  .outer-menu .menu > div > div > ul > li {
    padding: 0;
    margin: 1em;
    font-size: 24px;
    display: block;
  }
  .outer-menu .menu > div > div > ul > li > a {
    position: relative;
    display: inline;
    cursor: pointer;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
  }
  .outer-menu .menu > div > div > ul > li > a:hover {
    color: var(--yellow);
  }
  .active {
    color: var(--yellow)!important;
  }
  .outer-menu .menu > div > div > ul > li > a:hover:after {
    width: 100%;
  }
  .outer-menu .menu > div > div > ul > li > a:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -0.15em;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--yellow);
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
  }
  .project-section-title {
      width: 75%;
      margin: auto;
  }
  .menu-logo {
      display: block;
      width: 50px;
      height: auto;
      margin: auto;
  }

  /*DROPDOWN MENU*/
  dropdown {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 10px;
  }
  dropdown label,
  dropdown ul li {
    display: block;
    width: 150px;
    background: #fff;
    padding: 15px 15px;
  }
  dropdown label:hover,
  dropdown ul li:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }
  dropdown label {
    color: #000000;
    position: relative;
    z-index: 2;
  }
  dropdown input {
    display: none;
  }
  dropdown input ~ ul {
    position: relative;
    visibility: hidden;
    opacity: 0;
    top: -20px!important;
    left: 0!important;
    z-index: 1;
  }
  dropdown input:checked + label {
    background: #ffffff;
    color: #000000;
  }
  
  dropdown input:checked ~ ul {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
  
  .animate {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Chrome and Safari */
    -moz-backface-visibility: hidden; /* Firefox */
    -ms-backface-visibility: hidden; /* Internet Explorer */
  }

    /*DROPDOWN MENU ENDS*/
  
  
